NEXT_PUBLIC_SUPABASE_URL=https://tdcfyggnlqsszzmnscov.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRkY2Z5Z2dubHFzc3p6bW5zY292Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2NzU3NzgsImV4cCI6MjEwMjI1MTc3OH0.RpRu3YXtBUpJ-zABC4VJggaLkbkwTCpXlT02yCthVSs
NEXT_PUBLIC_API_URL=http://localhost:4000
